/*
Theme Name: USA ITV
Theme URI: http://ustream.tv/
Description: This theme is create only for USA ITV

Author: USA ITV
Author URI:
Version: 1.0
Tags: corporate theme, official theme, business theme
License: N/A
License URI: N/A
*/

/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
html,
body { height: 100% }
body {

}
a:active { text-decoration: none; }
a:hover { text-decoration: none; }

/* Remove Chrome Input Field's Unwanted Yellow Background Color */
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}
.company_logo {
	background: #C2DAC7;
	text-align: center;
	padding: 26px 0px;
}
.streaming-banner {
	text-align: center;
	background: #6bba47;
}

.footer_widget li {
	list-style: none;
	padding: 2px 0;
	font-size: 16px;
}
.footer_widget ul {
	padding: 0 0;
}
#footer-area {
	background: #303030;
	padding: 35px 0px;
}
.footer_widget h4 {
	color: #FFF;
}
.footer_widget a {
	color: #fff;
}
.margin_div {
	border-top: 2px solid #6bba47;
	border-bottom: 2px solid #6bba47;
	padding: 35px 0;
	margin: 35px 0;
}

.margin_div_last {
	border-bottom: 2px solid #6bba47;
	padding-bottom: 35px;
	margin-bottom: 35px;
}
#utube-video-article h3 {
	background: #6bba47;
	padding: 18px 0;
	color:#fff;
}
#navigation-menu .header-navigation-menu {
	padding: 0;
}

#navigation-menu {
	background: #6bba47;
	margin-bottom: 15px;
}
#footer-area-bottom {
	padding: 20px;
	background: #6bba47;
}

/******************************************************************/
/*Desktop CSS*/
/******************************************************************/
@media (min-width:981px){
	
			.footer_widget {
				float: left;
				width: 20%;
			}
			
			.footer_widget_2 {
				float: left;
				width: 50%;
				margin: 0px 30px;
			}
			.sm-icons {
				float: left;
				margin: 18px 2px;
			}
	}

/******************************************************************/
/*Tablet CSS*/
/******************************************************************/
@media (min-width:481px) and (max-width:980px){
			.footer_widget {
				float: left;
				width: 100%;
				text-align:center;
			}
			.sm-icons {
				float: left;
				margin: 22px 5px;
				width: 12%;
			}
	}
	
/******************************************************************/
/*Mobile CSS*/
/******************************************************************/
@media(min-width:0px) and (max-width:480px) {
	.footer_widget {
				float: none;
				width: 100%;
				text-align:center;
			}
			
			.sm-icons {
				float: none;
				margin: 22px 5px;
			}
			

	}

.prayer-time-section{
	width:100%;margin:0 auto;text-align:center; background:#6bba47; padding:23px;
}
.prayer-time-section-2{
	margin:0 auto;padding:3px;width:433px;
}
.prayer-time-section-3{
	text-decoration:none;font-size:0.7em;
}	
#utube-video-article iframe {
	width: 100%;
	height: 100%;
}
.office-address p {
	list-style: none;
	padding: 2px 0;
	font-size: 16px;
	color: #fff;
}
.career-title p {
	list-style: none;
	padding: 2px 0;
	font-size: 16px;
	color: #fff;
	text-align:justify;
}

.career-title h4 {
	border-bottom:1px solid #fff;
	padding-bottom:5px;
}
.social_media {
	width: 100%;
	height: 72px;
}
.form-title-single {
	list-style: none;
	padding: 2px 0;
	font-size: 16px;
	color: #fff;
	text-align:justify;
}
.form-title-single textarea {
	height: 70px;
}
#footer-area-bottom p{
	font-size: 16px;
	color: #fff;
	text-align:justify;
}
.developved-by {
	font-size: 16px;
	color: #fff;
	text-align:justify;
}
#social_icon ul li {
	list-style: none;
	float: right;
}